<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>IMBd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/lib/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html" style="color: #158cba; font-weight: bolder;">IMBd</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="movies.html">
                            All Movies
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="movies.html">
                            Latest movies
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find Movie">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Samuel L. Jackson
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My profile</a></li>
                            <li><a href="#">Rated movies</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" style="font-weight: bolder;">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <section class="jumbotron">
                    <h2>Latest Movies</h2>
                    <article class="row">
                        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                            <a href="#">
                                <img src="../static/img/covers/7.jpg" alt="Pulp Fiction" style="margin-top: 2em;display: block; width: 100%;" />
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-10 col-sm-8 col-xs-8">
                            <h2>Pulp Fiction</h2>
                            <p style="font-size: 12px;">
                                Director: <a href="#"><strong>Quentin Tarantino</strong></a> | 
                                Year: <strong>1994</strong> |
                                Rating: <strong>8.9</strong> |
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nostrum architecto dolore quisquam sit numquam optio fugiat cupiditate at asperio...
                            </p>
                            <p>
                                <a class="btn btn-primary btn-lg">Read more</a>
                            </p>
                        </div>
                    </article>
                    <article class="row">
                        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                            <a href="#">
                                <img src="../static/img/covers/7.jpg" alt="Pulp Fiction" style="margin-top: 2em;display: block; width: 100%;" />
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-10 col-sm-8 col-xs-8">
                            <h2>Pulp Fiction</h2>
                            <p style="font-size: 12px;">
                                Director: <a href="#"><strong>Quentin Tarantino</strong></a> | 
                                Year: <strong>1994</strong> |
                                Rating: <strong>8.9</strong> |
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nostrum architecto dolore quisquam sit numquam optio fugiat cupiditate at asperio...
                            </p>
                            <p>
                                <a class="btn btn-primary btn-lg">Read more</a>
                            </p>
                        </div>
                    </article>
                    <article class="row">
                        <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4">
                            <a href="#">
                                <img src="../static/img/covers/7.jpg" alt="Pulp Fiction" style="margin-top: 2em;display: block; width: 100%;" />
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-10 col-sm-8 col-xs-8">
                            <h2>Pulp Fiction</h2>
                            <p style="font-size: 12px;">
                                Director: <a href="#"><strong>Quentin Tarantino</strong></a> | 
                                Year: <strong>1994</strong> |
                                Rating: <strong>8.9</strong> |
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nostrum architecto dolore quisquam sit numquam optio fugiat cupiditate at asperio...
                            </p>
                            <p>
                                <a class="btn btn-primary btn-lg">Read more</a>
                            </p>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 style="margin: 0; color: white; text-transform: uppercase; font-weight: 100; ">Top 10 movies</h4>
                    </div>
                    <section class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">9.2</span>
                                <a href="#" style="color: gray; font-weight: bolder;">The Shawshank Redemption</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">9.2</span>
                                <a href="#" style="color: gray; font-weight: bolder;">The Godfather</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">9.0</span>
                                <a href="#" style="color: gray; font-weight: bolder;">The Godfather II</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">Batman: The Dark Knight</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">12 Angry Men</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">Schindler's List</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">Pulp Fiction</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">Il buono, il brutto, il cattivo</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.9</span>
                                <a href="#" style="color: gray; font-weight: bolder;">The Lord of the Rings: The Return of the King</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge" style="background: #F3E30A;">8.8</span>
                                <a href="#" style="color: gray; font-weight: bolder;">Fight Club</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 style="margin: 0; color: white; text-transform: uppercase; font-weight: 100; ">Random Movies</h4>
                    </div>
                    <div class="panel-body">
                        <section class="banner" style="position: relative; overflow: auto;">
                            <ul>
                                <li style="list-style: none; float: left;" >
                                    <a href="#">
                                        <article class="row" style="margin: .3em 0;">
                                            <figure class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <img src="../static/img/covers/1.jpg" width="100%" />
                                            </figure>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <h3 style="margin: 1em 0; font-size: 17px;">The Shawshank Redemption</h3>
                                                <p>Rate: <strong>9.8</strong></p>
                                            </div>
                                        </article>
                                    </a>
                                </li>
                                <li style="list-style: none; float: left;" >
                                    <a href="#">
                                        <article class="row" style="margin: .3em 0;">
                                            <figure class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <img src="../static/img/covers/2.jpg" width="100%" />
                                            </figure>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <h3 style="margin: 1em 0; font-size: 17px;">The Shawshank Redemption</h3>
                                                <p>Rate: <strong>9.8</strong></p>
                                            </div>
                                        </article>
                                    </a>
                                </li>
                                <li style="list-style: none; float: left;" >
                                    <a href="#">
                                        <article class="row" style="margin: .3em 0;">
                                            <figure class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <img src="../static/img/covers/3.jpg" width="100%" />
                                            </figure>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <h3 style="margin: 1em 0; font-size: 17px;">The Shawshank Redemption</h3>
                                                <p>Rate: <strong>9.8</strong></p>
                                            </div>
                                        </article>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                    </ul>
                    <p>Made by
                        <a href="http://github.com/pablotrinidad">pablotrinidad</a>, 
                        <a href="http://github.com/rafaelmv">rafaelmv</a> &
                        <a href="http://github.com/EderVs">EderVs</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <script src="../static/js/lib/jquery-1.10.2.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/lib/unslider.min.js"></script>
    <script>
        $(function() {
            $('.banner').unslider();
        });
    </script>

</body>
</html>