<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>IMBd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/lib/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="../static/css/custom.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html" style="color: #158cba; font-weight: bolder;">IMBd</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="movies.html">
                            All Movies
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="movies.html">
                            Latest movies
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find Movie">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Samuel L. Jackson
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My profile</a></li>
                            <li><a href="#">Rated movies</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" style="font-weight: bolder;">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <section class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Action</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/1.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/2.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/3.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/4.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Adventure</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/5.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/6.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/7.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/8.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Comedy</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/9.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/10.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/1.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/2.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Crime</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/3.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/4.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/5.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/6.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Fantasy</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/7.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/8.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/9.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/10.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Historical</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/1.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/2.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/3.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/4.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default" style="background: #3C3C3C; color: white; border-color: #000000;">Horror</a>
                </div>
                <div class="panel-body">
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/5.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/6.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/7.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <figure>
                                <img src="../static/img/covers/8.jpg" alt="" style="display: block;  width: 80%; margin: 0 auto;"/>
                            </figure>
                            <p class="text-center">Pulp Fiction | <strong>1994</strong></p>
                        </article>
                    </a>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/js/lib/jquery-1.10.2.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/lib/unslider.min.js"></script>
    <script>
        $(function() {
            $('.banner').unslider();
        });
    </script>

</body>
</html>